*{
    background: none;
    padding: 0;
    margin: 0;
}

body {
    background: #4d8ac8;
    width: 100vw;
}

.container{
    background: #eaf5fe;
    border-radius: 1em;
    width: 30%;
    margin: 5em auto;
    padding: 1em;
}


.screen{
    background: #cbe4fc;
    width: 95%;
    height: 8em;
    margin: 2em auto;
    border-radius: 1em;
    overflow-x: hidden;
}

.problemDisplay{
    color: black;
    display: block;
    width: 100%;
    text-align: start;
    font-size: 1.5em;
    padding: .5em;
    overflow-x: hidden;
}

.resultDisplay{
    overflow-x: hidden;
    color: black;
    display: block;
    width: 100%;
    text-align: end;
    font-size: 3em;
}

.buttons{
    width: 90%;
    margin: .5em auto;
}

.buttons > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: .5em;
    justify-content: center;
}

.buttons > ul > li > button{
    background-color: #cbe4fc;
    border-radius: .3em;
    border: none;
    width: 4em;
    height: 4em;
    font-size: 1em;
}

.clear {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
}

.symbol-button {
    background-color: #a3cffa !important;
}

@media only screen and (max-device-width: 1100px) {
    .container{
        background: #eaf5fe;
        border-radius: 1em;
        width: 50%;
        margin: 5em auto;
        padding: 1em;
    }
  }

@media only screen and (max-device-width: 600px) {
    .container{
        background: #eaf5fe;
        border-radius: 1em;
        width: 100%;
        margin: 5em auto;
        padding: 1em;
    }
  }

